.main_card_big{
    width: 1160px;
    display: grid;
    grid-template-columns: auto auto auto;
    margin: auto; 
    gap: 20px;
}
.main_card_big_div{
    width: 100%;
    user-select: none;
}
.main_card_big_div img{
    width: 100%;
}
.main_card_big_div_price{
    font-size: 25px;
    line-height: 1.35;
    font-weight: 400;
    font-family: 'Mayhong',Arial,sans-serif;
    margin-top: 15px;
    margin-bottom: 10px;
}
.main_card_big_div_text{
    font-size: 15px;
    color: rgba(0, 0, 0, 0.848);
    font-weight: 700;
    font-family: 'Mayhong',Arial,sans-serif;
    margin-bottom: 10px;
}
.main_card_big_div_modul{
    font-size: 12px;
    color: #777;
    font-family: 'Mayhong',Arial,sans-serif;
    font-weight: 300;
    line-height: 1.55;
}
.main_card_big_div_small_xusus{
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.main_card_big_div_small_xusus h1{
    font-size: 14px;
    font-weight: 900;
    font-family: 'Mayhong',Arial,sans-serif;
}
.main_card_big_div_small_xusus p{
    color: #777;
    font-size: 14px;
    font-family: 'Mayhong',Arial,sans-serif;
}
.main_button{
    padding-left: 25px;
    padding-bottom: 13px;
    padding-top: 13px;
    padding-right: 25px;
    background-color: rgb(16, 30, 34);
    border: 0px;
    border-radius: 4px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    font-family: 'Mayhong',Arial,sans-serif;
}
.main_button_div{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 50px;
}
.loader {
    margin: auto;
    border: 4px solid #f3f3f3;
    border-radius: 50%;
    border-top: 4px solid #777;
    width: 1vw;
    height: 1vw;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

.main_card_modal_big{
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: #fff;
    z-index: 10000000000;
    overflow-y: scroll;
}
body{
    overflow: hidden;
}
.main_card_modal_big_div_close{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 8px;
    padding-left: 20px;
    padding-top: 3px;
}
.main_card_modal_big_div_close p{
    font-size: 13px;
    font-weight: 550;
    font-family: 'Mayhong',Arial,sans-serif;
    display: flex;
    align-items: end;
}
.main_card_modal_big_div_close p i{
    font-size: 10px;
    margin-right: 1px;
    margin-bottom: 1px;
}
.main_card_modal_big_div_close .bx-x{
    font-size: 50px;
    margin-top: 2px;
    cursor: pointer;
}

.main_card_modal_big_center{
    width: 670px;
    max-width: 90%;
    margin: auto;
    margin-top: 55px;
}
.main_card_modal_big_center_title{
    font-size: 25px;
    font-family: 'Mayhong',Arial,sans-serif;
    font-weight: 600;
    opacity: 0.9;
}
.main_card_modal_big_center_articel{
    font-size: 18px;
    font-family: 'Mayhong',Arial,sans-serif;
    font-weight: 300;
    opacity: 0.9;
    color: #777;
    margin-top: 10px;
    margin-bottom: 10px;
}
.main_card_modal_big_center_price{
    font-size: 20px;
    font-family: 'Mayhong',Arial,sans-serif;
    font-weight: 300;
    margin-top: 20px;
}
.main_card_modal_big_center_xusus{
    display: flex;
    align-items: baseline;
    gap: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
}
.main_card_modal_big_center_xusus h1{
    font-size: 18px;
    font-family: 'Mayhong',Arial,sans-serif;
    font-weight: 900;
    margin-bottom: 0;
    margin-top: 0;
}
.main_card_modal_big_center_xusus p{
    font-size: 18px;
    color: #777;
    font-family: 'Mayhong',Arial,sans-serif;
    font-weight: 500;
    margin-bottom: 0;
    margin-top: 0;
}
.main_card_modal_big_center_button{
    display: flex;
    align-items: stretch;
    gap: 10px;
    margin-top: 20px;
}
.main_card_modal_big_center_button button:nth-child(1){
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 15px;
    font-family: 'Mayhong',Arial,sans-serif;
    font-weight: 500;
    color: #fff;
    background-color: rgb(16, 30, 34);
    border: 0px;
    cursor: pointer;
    border-radius: 4px;
    cursor: pointer;
}
.main_card_modal_big_center_button button:nth-child(2){
    font-size: 25px;
    padding-left: 8px;
    padding-right: 8px;
    border: 1px solid #dad8d8;
    border-radius: 4px;
    background-color: #fff;
    padding-top: 7px;
    cursor: pointer;
}
.main_card_modal_big_center_desc{
    width: 100%;
    font-size: 20px;
    font-weight: 400;
    color: #000000;
    line-height: 1.55;
    font-family: 'Mayhong',Arial,sans-serif;
    margin-top: 30px;
    margin-bottom: 30px;
}
.main_card_modal_big_center_xusus_boshqa{
    font-size: 20px;
    font-weight: 500;
    color: black;
    line-height: 1.55;
    font-family: 'Mayhong',Arial,sans-serif;
}
.main_card_modal_big_center_navbar{
    width: 100%;
    display: flex;
    align-items: stretch;
    margin-top: 40px;
    margin-bottom: 20px;
    overflow-x: scroll;
}
.main_card_modal_big_center_navbar_h1{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: 1px solid #a5a3a3;
}
.main_card_modal_big_center_navbar_h1 h1{
    font-size: 20px;
    line-height: 1.55;
    font-family: 'Mayhong',Arial,sans-serif;
    font-weight: 600;
    color: black;
    opacity: 0.9;
}
.modal_alamshuv_divi_big1 li{
    list-style-type: square;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.55;
    font-family: 'Mayhong',Arial,sans-serif;
}
.modal_alamshuv_divi_big1 li::marker{
     color: red !important;
     font-size: 30px !important;
}
.modal_alamshuv_divi_big1_h1_title{
    font-size: 20px;
    font-weight: 500;
    font-family: 'Mayhong',Arial,sans-serif;
}
.main_card_modal_big_center_desc1{
    width: 100%;
    font-size: 20px;
    font-weight: 400;
    color: #000000;
    line-height: 1.55;
    font-family: 'Mayhong',Arial,sans-serif;
    margin-top: 8px;
}
.modal_alamshuv_divi_big1_h1_title1{
    margin-top: 30px;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Mayhong',Arial,sans-serif;
}
.modal_alamshuv_divi_big1_card{
    width: 100%;
    margin-top: 20px;
}
.modal_alamshuv_divi_big1_card_title{
    margin-top: 30px;
    font-size: 20px;
    color: black;
    font-weight: 600;
    font-family: 'Mayhong',Arial,sans-serif;
}
.modal_alamshuv_divi_big1_card_desc{
    margin-top: 5px;
    width: 100%;
    font-size: 18px;
    font-weight: 400;
    color: #000000;
    line-height: 1.55;
    font-family: 'Mayhong',Arial,sans-serif;
}
.modal_alamshuv_divi_big1_card img{
    width: 300px;
    max-width: 100%;
    object-fit: cover;
}
.modal_alamshuv_divi_big2_img{
    width: 100%;
    object-fit: cover;
}
.modal_alamshuv_divi_big3 li{
    list-style-type: square;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.55;
    font-family: 'Mayhong',Arial,sans-serif;
}
.modal_alamshuv_divi_big3 li::marker{
     color: red !important;
     font-size: 30px !important;
}
.modal_alamshuv_divi_big3 ul{
    margin-bottom: 40px;
}
.modal_alamshuv_divi_big4_desc{
    width: 100%;
    font-size: 20px;
    font-weight: 300;
    color: #000000;
    line-height: 1.55;
    font-family: 'Mayhong',Arial,sans-serif;
    margin-top: 30px;
    margin-bottom: 10px;
}
.modal_alamshuv_divi_big4_tel{
    width: 100%;
    font-size: 20px;
    font-weight: 300;
    color: #000000;
    line-height: 1.55;
    font-family: 'Mayhong',Arial,sans-serif;
    margin-top: 30px;
    margin-bottom: 30px;
}
.modal_alamshuv_divi_big4_tel p{
    font-weight: 700;
}
.modal_alamshuv_divi_big4 li{
    list-style-type: square;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.55;
    font-family: 'Mayhong',Arial,sans-serif;
}
.modal_alamshuv_divi_big4 li::marker{
     color: red !important;
     font-size: 30px !important;
}
.modal_alamshuv_divi_big5_desc{
    width: 100%;
    font-size: 18px;
    font-weight: 300;
    color: #000000;
    line-height: 1.55;
    font-family: 'Mayhong',Arial,sans-serif;
    margin-top: 20px;
    margin-bottom: 10px;
}
.modal_alamshuv_divi_big6_desc{
    width: 100%;
    font-size: 18px;
    font-weight: 300;
    color: #000000;
    line-height: 1.55;
    font-family: 'Mayhong',Arial,sans-serif;
    margin-top: 20px;
    margin-bottom: 10px;
}
.modal_alamshuv_divi_big6 li{
    list-style-type: square;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.55;
    font-family: 'Mayhong',Arial,sans-serif;
}
.modal_alamshuv_divi_big6 li::marker{
     color: red !important;
     font-size: 30px !important;
}

@media (max-width:1200px) {
    .main_card_big{
        width: 940px;
        max-width: 95%;
    }
}
@media (max-width:961px) {
    .main_card_big{
        grid-template-columns: auto auto;
        gap: 10px;
    }
}
@media (max-width:450px) {
    .main_card_big{
        grid-template-columns: auto;
    }
}

/* Swiper */


  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .swiper-slide {
    background-size: cover;
    background-position: center;
  }

  .mySwiper2 {
    width: 100%;
  }

  .mySwiper {
    margin-top: 20px;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 0;
  }

  .mySwiper .swiper-slide {
    width: 60px !important;
    height: 60px;
  }

  .mySwiper .swiper-slide-thumb-active {
    border: 2px solid #777;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .swiper-button-next, .swiper-button-prev{
    background-color: #fff !important;
    color: black !important;
    border-radius: 50% !important;
    width:30px !important;
    height: 30px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
  }
  .swiper-button-next:after, .swiper-button-prev:after{
    font-size: 14px !important;
    font-weight: 700 !important;
  }